[Unit]
Description=Teleinfo service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=teleinfo
ExecStart=/usr/bin/php /home/pi/Code/teleinfo-php-firebase/teleinfo.php

[Install]
WantedBy=multi-user.target
